header {
    padding: 10px 20px 15px;
    /* margin-bottom: 30px; */
}

nav a {
    text-decoration-color: transparent;
    color: #113482;
    padding: 15px;
}

nav a:hover {
    text-decoration-color: #8a2be2;
    /* color: #8a2be2; */
    color: red;
}

#hero-shot{
    width: 100vw;
    height: calc(100vh - 125.5px);
    position: relative;
    background-image: url(images/map.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

}
    

.overlay {
    background-color:none;
    opacity: 0.6;
    width: 100vw;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    
}
#hero-shot p {
    z-index: 10;
    color: rgb(24, 24, 21);
    position: relative;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}
.hero-shot-container {
    z-index: 10;
    position: relative;
    margin-top: 200px;
    width: fit-content;
    margin: 10px auto;
}
.hero-shot-container span {
    color: rgb(233, 244, 244);
    font-size: 16px;
}
 button {
background-color: aliceblue;
padding: 5px 18px;
margin-left: 5px;
text-transform: uppercase;
cursor: pointer;
}
 button:hover {
    background-color: black;
    color: azure;
}
.excercises-container {
    margin: 30px auto;
    width: max-content;

}
.see-excercises {
    text-transform: uppercase;
    font-size: 16px;
}
.section-title {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bolder;
    margin: 30px auto 20px;
    width: fit-content;
    display: block;

}